@font-face {
    font-family: 'chris_font';
    src: url('./Chris_font-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "chris_font", serif;
}